.git
.github
.idea
.DS_Store

**/target
**/node_modules
**/dist
**/dist-ssr
**/coverage
**/*.log
**/*.tsbuildinfo

!xxl-job-admin/target
!xxl-job-admin/target/xxl-job-admin-*.jar
!xxl-job-executor-samples/xxl-job-executor-sample-springboot/target
!xxl-job-executor-samples/xxl-job-executor-sample-springboot/target/xxl-job-executor-sample-springboot-*.jar
